<!DOCTYPE html>
<html>

<head>
    <title>Registration</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background: whitesmoke;
        }

        .box {
            width: 470px;
            padding: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: transparent;
            text-align: center;
        }

        .box h1 {
            color: black;

            font-weight: 500;
        }

        .box input[type="text"],
        .box input[type="text"] {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #3498db;
            padding: 14px 10px;
            width: 200px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
        }

        .box input[type="text"]:focus,
        .box input[type="text"]:focus {
            width: 280px;
            border-color: #2ecc71;
        }

        .box input[type="submit"] {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #2ecc71;
            padding: 14px 40px;
            outline: none;
            color: black;
            border-radius: 24px;
            transition: 0.41s;
            cursor: pointer;
            transform: translate(5%, 50%);
        }

        .box input[type="submit"]:hover {
            background: #2ecc71;
        }

        #article {

            position: relative;
            transform: translate(-27%, 0%);
            padding: 200px;
            width: 300px;
            height: 20px;
            display: block;
            text-align: left;
        }

        #article {
            width: 300px;
            padding: 100px;
            position: relative;
            top: 70%;
            left: 50%;
            transform: translate(-50%, 0%);
            background: #191919;
            text-align: center;
        }

        #article {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #3498db;
            padding: 14px 10px;
            width: 500px;
            height: 100px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
        }

        #article : :focus {
            width: 280px;
            border-color: #2ecc71;
        }
    </style>
</head>

<body>
    <form action="/create-article" method="POST" class="box" id="data">
        <h1>New Article</h1>
        <input type="text" name="author" placeholder="author_name" />
        <input type="text" name="heading" placeholder="heading" />
        
        <input type="text" name="title" placeholder="title" />
        <textarea rows="1" cols="1" id="article" placeholder="content" name="content" form="data"></textarea>
        <br>
         <input type="submit" id="submit_btn" value="Add" />
    </form>
</body>

</html>