<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Document</title>
    <style>
        .contain {
            max-width: 1000px;
            margin: 0 auto;
            margin-top: 70px;
        }

        #pic1 {
            position: relative;
            width: 32%;
        }

        #first {
            font-size: large;
            margin: 0 auto;
        }

        /* #logout {
            position: relative;
            bottom: 50px;
            left: 1000px;
        } */

        #pic2 {
            position: relative;
            width: 15%;
            left: 100px;
        }

        #text {
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-size: large;
            margin: 0 auto;
        }

        #pic3 {
            position: relative;
            width: 20%;
            left: 200px;
        }


        * {
            margin: 0;
            padding: 0;
            font-family: "montserrat", sans-serif;
        }

        .btn2 {
            width: 300px;
            height: 70px;
            background: none;
            border: 4px solid;
            color: black;
            font-weight: 700;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 16px;
            position: relative;
            top: 30px;
        
        }

        .btn2::before,
        .btn2::after {
            content: "";
            position: absolute;
            width: 14px;
            height: 4px;
            background: white;
            transform: skewX(50deg);
            transition: .3s linear;
        }

        .btn2::before {
            top: -4px;
            left: 10%;
        }

        .btn2::after {
            bottom: -4px;
            right: 10%;
        }

        .btn2:hover::before {
            left: 80%;
        }

        .btn2:hover::after {
            right: 80%;
        }



        * {
            margin: 0;
            padding: 0;
            font-family: "montserrat", sans-serif;
        }

        .btn4 {
            width: 300px;
            height: 70px;
            background: none;
            border: 4px solid;
            color: black;
            font-weight: 700;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 16px;
            position: relative;
            transform: translate(50%, 50%);
        }

        .btn4::before,
        .btn4::after {
            content: "";
            position: absolute;
            width: 14px;
            height: 4px;
            background: white;
            transform: skewX(50deg);
            transition: .4s linear;
        }

        .btn4::before {
            top: -4px;
            left: 10%;
        }

        .btn4::after {
            bottom: -4px;
            right: 10%;
        }

        .btn4:hover::before {
            left: 80%;
        }

        .btn4:hover::after {
            right: 80%;
        }

        * {
            margin: 0;
            padding: 0;
            font-family: "montserrat", sans-serif;
        }

        .btn5 {
            width: 300px;
            height: 70px;
            background: none;
            border: 4px solid;
            color: black;
            font-weight: 700;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 16px;
            position: absolute;
            transform: translate(165%, -80%);
        }

        .btn5::before,
        .btn5::after {
            content: "";
            position: absolute;
            width: 14px;
            height: 4px;
            background: white;
            transform: skewX(50deg);
            transition: .4s linear;
        }

        .btn5::before {
            top: -4px;
            left: 10%;
        }

        .btn5::after {
            bottom: -4px;
            right: 10%;
        }

        .btn5:hover::before {
            left: 80%;
        }

        .btn5:hover::after {
            right: 80%;
        }

        This is the sixth button * {
            margin: 0;
            padding: 0;
            font-family: "montserrat", sans-serif;
        }

        .btn6 {
            width: 300px;
            height: 70px;
            background: none;
            border: 4px solid;
            color: black;
            font-weight: 700;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 16px;
            position: absolute;
            transform: translate(200%, -250%);

        }

        .btn6::before,
        .btn6::after {
            content: "";
            position: absolute;
            width: 14px;
            height: 4px;
            background: white;
            transform: skewX(50deg);
            transition: .4s linear;
        }

        .btn6::before {
            top: -4px;
            left: 10%;
        }

        .btn6::after {
            bottom: -4px;
            right: 10%;
        }

        .btn6:hover::before {
            left: 80%;
        }

        .btn6:hover::after {
            right: 80%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div>
            <a href="/" id="logout">Back</a>
            <br>
        </div>
        <div id="picture">
            <img src="https://logodix.com/logo/954841.jpg" id="pic1">
            <img src="https://pluspng.com/img-png/nodejs-logo-png-node-js-development-296.png" id="pic2">
            <img src="https://blog.miyozinc.com/wp-content/uploads/2016/02/java-logo.png" id="pic3">
        </div>
        <div>
            <p id="first">
                <br>
                Welcome Guest, thank you for reaching out to this page.
                Here you can learn a bit about my work and my contact information.
                <br>
            </p>
            <br>
            <p>
                <ul id="text">
                    <li>Projects - It will take you to my currently finsihed projects.</li>
                    <li>Upcoming Projects - This page shows the content of what I am currently working on</li>
                    <li>About - This page will lead you to my contact information.</li>
                    <li>Add Project - This page will add a comment from you to my database and I can read your valuable
                        feedback.</li>
                </ul>
            </p>
            <br>
        </div>
        <div>
            <form action="/projects">
                <button class="btn2">Projects</button>
                <br>
            </form>
            <br>
        </div>
        <div>
            <form action="/upcoming">
                <button class="btn4">Upcoming Projects</button>
                <br>
            </form>
            <br>
        </div>
        <div>
            <form action="/about">
                <button class="btn5">About me</button>
            </form>
            <br>
        </div>
        <form action="/comment">
            <button class="btn6">Add a Comment</button>
            <br>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>