<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">  
    <style>
        html,
        body {
            height: 100vh;
            background-color: black;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        #logout {
            margin-top: 10px;
            transform: translate(90%, -10%);
            text-decoration: underline;
            color: teal;
            position: relative;
            padding: 20px;
            display: block;
            font-size: 20px;
        }

    </style>

    <title>Registration</title>
</head>

<body class="bod">
    <div class="container-fluid">


        <a href="/Logout" id="logout">Logout</a>
    </div>

</body>

</html>